{% extends 'base.html.twig' %}

{% block content %}
<form class="" action="{% url 'contact_form'%}" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="" value="Valider">
</form>
{% endblock %}
