{% extends 'base.html.twig' %}

{% block content %}

  <p> <a href="{% url 'article_form' %}">Ajouter un article</a> </p>
  {% for article in articles %}
    <h2> <strong>{{article.titre}}</strong> par {{article.auteur}} le <em>{{article.date|date:'DATE_FORMAT'}}</em> </h2>
    <br><hr>
    <p>{{article.content|truncatechars_html:80}} <a href="{% url 'article_by_slug' article.slug %}">Lire plus</a> </p>
    {% empty %}
    <p>Pas encore d'article</p>
  {% endfor %}
{% endblock %}
