{% extends 'base.html.twig' %}

{% block content %}
<h2>Formulaire de connection :</h2>
<form class="" action="" method="post">
  {% csrf_token %}

  {% if error %}
  <p>Utilisateur ou mot de passe erroné</p>
  {% endif %}

  {% if user.is_authenticated %}
  <p>Bienvenue {{user.username}}</p>
  {% endif %}

  {{form.as_p}}
  <input type="submit" name="" value="Valider">
</form>
{% endblock %}
