{% extends 'base.html.twig' %}

{% block content %}
<article class="article">
<h1 class="article_title"><strong>{{article.titre}}</strong> par {{article.auteur}} le <em>{{article.date|date:'DATE_FORMAT'}}</em></h1>
<p class = "article_content">{{article.content}}</p>
</article>

<p>
<a href="{% url 'home' %}">Retour aux articles</a>
{% if perms.blog.change_article %}
<a href="{% url 'article_update' article.slug %}">Modifier</a>
{% endif %}
{% if perms.blog.delete_article %}
<a href="{% url 'delete_article' article.slug %}">Supprimer</a>
{% endif %}
</p>
{% endblock %}
