<!DOCTYPE html>
{% load blog_extras %}
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Les crepes bretonnes{% endblock %}</title>
  </head>
  <body>
    <header>
      {% load static %}
      {% block header %}
        <h1>{{"Crepes bretonnes"|citation}}</h1>
        <h1>{{"Bonjour tout le monde "|smart_truncate:14}}</h1>
        <p>{% random 5 9 %}</p>
        <!-- <img src="{% static 'img/header.png' %}" alt="mon header"> -->
      {% endblock %}
    </header>

    <nav>
      {% block nav %}
      <ul>
        <li> <a href="/">Accueil</a></li>
        <li><a href='{% url 'home' %}'>Blog</a></li>
        <li> <a href="/contact">Contact</a></li>
      </ul>
      {% endblock %}
    </nav>

    <section id='content'>
      {% block content %}{% endblock %}
    </section>

    <footer style='position:static;bottom:15px;'>&copy; Crepes bretonnes</footer>
  </body>
</html>
