{% extends 'base.html.twig' %}

{% block content %}
<form class="" action="" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="" value="S'enregistrer">
  <a href="{% url 'home' %}">Retour à l'accueil</a>
</form>
{% endblock %}
